<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-zzl-bluetooth-button" version="1.0.0">  
  <name>BluetoothButtonPlugin</name>  
  <js-module name="BluetoothButtonPlugin" src="www/BluetoothButtonPlugin.js"> 
    <clobbers target="cordova.plugins.BluetoothButtonPlugin"/> 
  </js-module>  
  <platform name="android"> 
    <config-file parent="/*" target="res/xml/config.xml"> 
      <feature name="BluetoothButtonPlugin"> 
        <param name="android-package" value="com.zzl.intelligence.BluetoothButtonPlugin"/> 
      </feature> 
    </config-file>  
    <config-file parent="/*" target="AndroidManifest.xml"> 
      <uses-permission android:name="android.permission.INTERNET"/>  
      <uses-permission android:name="android.permission.BROADCAST_STICKY"/>  
      <uses-permission android:name="android.permission.BLUETOOTH"/>  
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> 
    </config-file>  
    <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_V4_VERSION"/>
    <preference name="ANDROID_SUPPORT_V4_VERSION" default="27.+"/>
    <source-file src="src/android/BluetoothButtonPlugin.java" target-dir="src/cordova-plugin-zzl-bluetooth-button/BluetoothButtonPlugin"/>
  </platform> 
</plugin>
